@model ProjetoAlmoco.Application.Categoria.Model.CategoriaModel

@{
    ViewBag.Title = "CarregaDelete";
}

<h2>CarregaDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CategoriaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Num_IdCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_IdCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <button onclick="RotasCategoria.Delete(@Html.DisplayFor(model => model.Num_IdCategoria))" title="Cancelar" class="btn btn-info">
        Deletar
    </button>
    }
</div>
