@model ProjetoAlmoco.Application.Usuario.Model.UsuarioModel

@{
    ViewBag.Title = "GetUsuario";
}

<h2>GetUsuario</h2>

<div>
    <h4>UsuarioModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>

            @Html.DisplayNameFor(model => model.Num_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Sobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nom_Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Senha)
        </dd>

    </dl>
</div>
<p>
    <button onclick="RotasPrincipais.Usuario_CarregaPut('@Model.Nom_Login', '@Model.Nom_Nome', '@Model.Nom_Sobrenome', '@Model.Num_Id', '@Model.Nom_Senha')" title="Cancelar" class="btn btn-info">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        Alterar
    </button> 
    <button onclick="RotasPrincipais.Usuario_CarregaDelete('@Model.Num_Id', '@Model.Nom_Nome', '@Model.Nom_Sobrenome','@Model.Nom_Login', '@Model.Nom_Senha')" title="Cancelar" class="btn btn-info">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        Deletar
    </button> 
</p>
