@model IEnumerable<ProjetoAlmoco.Application.Alimento.Model.AlimentoModel>

@{
    ViewBag.Title = "GetAllAlimento";
}

<h2>GetAllAlimento</h2>

<button onclick="RotasAlimento.CarregaPost()" title="Cancelar" class="btn btn-info">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    Criar Novo Alimento
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Num_IdAlimentos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom_NomeAlimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ind_Disponivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_IdCategoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Num_IdAlimentos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_NomeAlimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ind_Disponivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_IdCategoria)
        </td>
        <td>
            <button onclick="RotasAlimento.GetAlimento(@item.Num_IdAlimentos)" title="Cancelar" class="btn btn-info">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                Mostrar alimento
            </button>
        </td>
    </tr>
}

</table>
