<!-- ATUALIZA CARDAPIO -->

@{
    ViewBag.Title = "Atualizar Cardápio";
}

<main id="direcao-flex">

    <!-- icone usuario e cardapio -->
    <div class="main-topo">

        <div class="usuario">
            <i class="zmdi zmdi-account-circle"></i>
            <div>
                <span class="nome">Nome</span> <br>
                <span>usuário</span>
            </div>
            <div class="sair">
                <i class="material-icons" onclick="pagLogin()">exit_to_app</i>
            </div>
        </div>

        <div class="titulo-pagina">
            <span>Atualizar Cardápio</span>
        </div>

    </div>

    <!-- categorias -->
    <div class="main-content">
        <div class="content-topo">
            <p>Selecione as opções do dia</p>
            <span id=add-categoria onclick="RotasCategoria.CarregaPost()"> <i class="material-icons">add_circle_outline</i>adicionar categoria </span>
        </div>

        <div class="content-content">

            <div class="categorias scroll scroll4">

                @foreach (var item in ViewBag.GetAllCategorys)
                {
                    <div class="categoria">
                        <i class="material-icons" onclick="RotasCategoria.CarregaDelete(@item.Num_IdCategoria, '@item.Nom_Nome')">delete</i>
                        <i class="material-icons" onclick="RotasCategoria.CarregaPut(@item.Num_IdCategoria, '@item.Nom_Nome')">edit</i>
                        <span class="nome-categoria" data-id="@item.Num_IdCategoria">@item.Nom_Nome</span> <br>

                        <div id="form">
                            <span>Definir quantidade de escolha:</span>
                            <div class="value-button" id="decrease" onclick="decreaseValue('daiv-@item.Num_IdCategoria')" value="Decrease Value">-</div>
                            <input type="number" class="number" id='daiv-@item.Num_IdCategoria' value="1" />
                            <div class="value-button" id="increase" onclick="increaseValue('daiv-@item.Num_IdCategoria')" value="Increase Value">+</div>

                            <br><br>

                            <div class="alimentos-da-categoria">
                                <div onclick="RotasAlimento.CarregaPost(@item.Num_IdCategoria)">
                                    <i class="material-icons">add_circle_outline</i>
                                </div>

                                @foreach (var item2 in ViewBag.GetAllAliment)
                                {
                                    if (item2.Num_IdCategoria == item.Num_IdCategoria)
                                    {
                                        <div class="delete">
                                            <input class="opcao-categoria" type="checkbox" name="opcao">
                                            <label for="scales">@item2.Nom_NomeAlimento</label>
                                            <i class="btn-delete" class="material-icons" onclick="RotasAlimento.Delete(@item2.Num_IdAlimentos)">highlight_off</i> 
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="content-bottom">
            <input class="botao" type="submit" value="Voltar" onclick="pagHomeAdm()"><br>
            <input class="botao" type="submit" value="Atualizar" onclick="atualizarCardapio()"><br>
        </div>

    </div>

</main>


<!-- Modal Add Categoria-->
<div id="CarregaPost"></div>

<!-- Modal Editar Categoria-->
<div id="CarregaPut"></div>

<!--Modal Excluir Categoria-->
<div id="CarregaDelete"></div>

<!-- Modal Add Alimento-->
<div id="CarregaPostAlimento"></div>

<!-- Modal Excluir Alimento-->
<div id="CarregaDeleteAlimento"></div>

<script src="~/js/RotasCategoria.js?d=@DateTime.Now.Ticks"></script>
<script src="~/js/RotasAlimento.js?d=@DateTime.Now.Ticks"></script>

<script>

    RotasCategoria.init({
        urls: {
            GetAllCategoria: '@Url.Action("Index", "Adm")',
            GetCategoria: '@Url.Action("GetCategoria", "Categoria")',
            Post: '@Url.Action("Post", "Categoria")',
            Put: '@Url.Action("Put", "Categoria")',
            Delete: '@Url.Action("Delete", "Categoria")',
            CarregaPost: '@Url.Action("CarregaPost", "Categoria")',
            CarregaPut: '@Url.Action("CarregaPut", "Categoria")',
            CarregaDelete: '@Url.Action("CarregaDelete", "Categoria")'
        }
    });

    RotasAlimento.init({
        urls: {
            GetAllAlimento: '@Url.Action("Index", "Adm")',
            GetDispAlimento: '@Url.Action("GetDispAlimento", "Alimento")',
            GetAlimento: '@Url.Action("GetAlimento", "Alimento")',
            CarregaPut: '@Url.Action("CarregaPut","Alimento")',
            Put: '@Url.Action("Put","Alimento")',
            CarregaPost: '@Url.Action("CarregaPost", "Alimento")',
            Post: '@Url.Action("Post","Alimento")',
            CarregaDelete: '@Url.Action("CarregaDelete", "Alimento")',
            Delete: '@Url.Action("Delete", "Alimento")',
            GetDispAlimento: '@Url.Action("GetDispAlimento","Alimento")'
        }
    })

</script>




