
@{
    ViewBag.Title = "Administrador";
}

<h2>Usuarios</h2>

@*<p>
        @Html.ActionLink("Mostrar Usuários", "_getAll")
    </p>*@

<button onclick="RotasPrincipais.GetAllUsuario()" title="Cancelar" class="btn btn-info">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    Mostrar usuários
</button>

<button onclick="RotasCategoria.GetAllCategoria()" title="Cancelar" class="btn btn-info">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    Mostrar categorias
</button>

<button onclick="RotasAlimento.GetAllAlimento()" title="Cancelar" class="btn btn-info">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    Mostrar alimentos
</button>

<script src="~/js/RotasPrincipais.js?d=@DateTime.Now.Ticks"></script>
<script src="~/js/RotasCategoria.js?d=@DateTime.Now.Ticks"></script>
<script src="~/js/RotasAlimento.js?d=@DateTime.Now.Ticks"></script>

<script>

    RotasPrincipais.init({
        urls: {
            GetAllUsuario: '@Url.Action("GetAllUsuario", "Usuario")',
            GetUsuario: '@Url.Action("GetUsuario","Usuario")', 
            Post: '@Url.Action("Post","Usuario")',
            Put: '@Url.Action("Put","Usuario")',
            Delete: '@Url.Action("Delete","Usuario")',
            CarregaPost: '@Url.Action("CarregaPost","Usuario")',
            CarregaPut: '@Url.Action("CarregaPut","Usuario")',
            CarregaDelete: '@Url.Action("CarregaDelete","Usuario")'
        }
    });

    RotasCategoria.init({
        urls: {
            GetAllCategoria: '@Url.Action("GetAllCategoria", "Categoria")',
            GetCategoria: '@Url.Action("GetCategoria", "Categoria")', 
            Post: '@Url.Action("Post", "Categoria")',
            Put: '@Url.Action("Put", "Categoria")',
            Delete: '@Url.Action("Delete", "Categoria")',
            CarregaPost: '@Url.Action("CarregaPost", "Categoria")',
            CarregaPut: '@Url.Action("CarregaPut", "Categoria")',
            CarregaDelete: '@Url.Action("CarregaDelete", "Categoria")'
        }
    });

    RotasAlimento.init({
        urls: {
            GetAllAlimento: '@Url.Action("GetAllAlimento", "Alimento")',
            GetAlimento: '@Url.Action("GetAlimento", "Alimento")',
            CarregaPut: '@Url.Action("CarregaPut","Alimento")',
            Put: '@Url.Action("Put","Alimento")',
            CarregaPost: '@Url.Action("CarregaPost", "Alimento")',
            Post: '@Url.Action("Post","Alimento")',
            CarregaDelete: '@Url.Action("CarregaDelete", "Alimento")',
            Delete: '@Url.Action("Delete", "Alimento")',
            GetDispAlimento: '@Url.Action("GetDispAlimento","Alimento")'
        }
    })

</script>

